@model FolderSystem.Models.FolderViewModel

<h1>"Folder" - @Model.CurrentFolder.Name</h1>

@if (Model.Subfolders.Any())
{
    <ul>
        @foreach (var subfolder in Model.Subfolders)
        {
            <li>
                <a href="@Url.Action("Index", new { folderPath = "/" + await Model.FolderRepository.GetFolderPathAsync(subfolder) })">
                @subfolder.Name
            </a></li>
        }
    </ul>
}
else
{
    <p>No subfolders found.</p>
}

<h2>Import folder system</h2>
@using (Html.BeginForm("ImportFromOS", "Folder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="importDirectory">Виберіть каталог для імпорту:</label>
        <input type="file" id="importDirectory" name="importDirectory" class="form-control" directory webkitdirectory />
    </div>
    <button type="submit" class="btn btn-primary">Імпортувати</button>
}

